@media (width>1440px){

header{
    position:re
    width: 100vw;
    background-image: url(/asssets/desktop/desktooopppppppppp.png);
   
    background-repeat: no-repeat;
}

.images {
        display: none;
    }

    .desktop1 {
        display: none;
    }

    .desktop {
        display: flex;
    }


    .desktop1 {
        display: flex;
    }
}
