@media (width>1440px){

header{
    margin-top:0px;
    width: 100vw;
    background-image: url(/asssets/desktop/desktooopppppppppp.png);
}

.images {
        display: none;
    }

    .desktop1 {
        display: none;
    }

    .desktop {
        display: flex;
    }


    .desktop1 {
        display: flex;
    }
}
