@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*,
* ::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif,'Alata', sans-serif;
    overflow-x: hidden;
}


header {
   position: relative;
    height: auto;
    width: 375px;
    height: 650px;
    background-image: url(./asssets/mobile/headerimage.png);
  margin-top: -7px;
  overflow: hidden;

}

.firstline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}
.burgerlist{
    position: relative;
    width: 375px;
    height: 652px;
    background-color: #000;
    top: -6%;
    left:105%;
    display: block;
    transition: all 1s;
  transform: translate(0%);
  z-index: 4;
  /* display: none; */
}
.active{
    transform: translatex(-105%);
    transition: all 2s;
  }
.burgerlist p{
    color: white;
    display: grid;
}
.xicon{
    display: flex;
   justify-content: space-between;
    
}
.links{
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    
}
.links a{
    margin-top: 50px;
    color: #FFF;
font-family: 'Josefin Sans';
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 25px; /* 104.167% */
text-transform: uppercase;
text-decoration: none;
}
.firstline p {
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family: 'alata';
    position: absolute;
    left: 6%;
    top: -1%;

}

.firstline img {
    position: absolute;
    top: 7%;
    left: 87%;
    z-index: 20;
}

.hidecontent {
    display: none;
}

/* .burgricon{
    cursor: pointer;
    z-index: 4;
    color: red;
} */

.desktopimg {
    display: none;
}

.headtxt {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 327px;
    height: 196px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    position: absolute;
    top: 35%;
    left: 6%;


}

.headtxt p {
    position: relative;
    width: 279px;
    height: 146px;
    top: -5%;
    left: 10%;
    color: #FFF;
    font-family: 'Josefin Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    /* 95% */
    text-transform: uppercase;
}

.container {
   
  
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-top: 50px;

}

h3 {
    width: 279px;

}

h4 {
    width: 279px;
    color: #000;
    text-align: center;
    font-family: Alata;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    opacity: 0.4994;
}

h3,
h5 {
    color: #000;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
}

.txtbox1 {
    display: grid;
    justify-content: center;


}

.gridbox,
.imgbox1,
.imgbox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box1 {
    display: grid;
    justify-content: center;
}

.imgboy {
    position: relative;
    left: 5px;
}

.boydesktop {
    display: none;
}

.midtext {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.midtext button,
button {
    width: 157px;
    height: 40px;
    color: #FFF;
    border: 1px solid #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.midtext button {
    display: none;
}

button {

    margin-top: 15%;
    color: #000;
    background: white;
}

.midtext button:hover,
button:hover {
    transition: 1s;
    background-color: green;
    cursor: grab;
}

.images {
    margin-top: 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.desktop {
    display: none;
}

.desktop1 {
    display: none;
}

footer {
    position: relative;
    margin-top: 96px;
    height: 470px;
    width: 375px;
    background-color: #000;
    ;
}

.headline {
    position: absolute;
    top: 10%;
    left: 35%;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'alata';
}

.hide{
    display: grid;
    position: absolute;
    background-color: black;
    width: 375px;
    height: 600px;
}
.hide a ,h1{
    margin-top: 65px;
    margin-left: 40px;
    color: #FFF;
font-family: 'Josefin Sans';
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
}
h1{
    text-transform: lowercase;
   
}
.imgbox2 {
    position: relative;
}

.headlinelist {
    position: absolute;
    top: 25%;
    left: 43%;
    color: #FFF;
    font-family: 'Alata';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}

.listitem {
    margin-top: 20%;
}

footer img {
    position: absolute;
    top: 73%;
    left: 30%;
}

footer p {
    position: absolute;
    top: 80%;
    left: 15%;
    color: white;
    font-family: 'Alata';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    opacity: 0.5;
}

.seeall {
    width: 157px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid black;
}

.imgbox1 {
    position: relative;
}

.test {
    position: absolute;
    top: 10%;
    left: 5%;

}

.test p,
.test2 p,
.txtonimg1 p,
.txtonimg2 p {
    color: #FFF;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    /* 100% */
    text-transform: uppercase;

}

.test2 {
    position: absolute;
    top: 20%;
    left: 5%;
}

.txtonimg1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 10%;
    left: 7%;

}

.txtonimg2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 8%;
    left: 6%;



}

.hidelist {
    display: none;
}
